*{
    margin: 0;
    padding: 0;
}
.section1{
    height: 100vh;
    width: 100%;
    background-image: url(/background1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.paragraph{
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top:50px;
}
.paragraph h3{
    font-size: 30px;
    padding-top:20px;
}
.paragraph p{
    font-size: 16px;
    padding-top: 20px;
}
.section2{
    height: 100vh;
    width: 100%;
    background-image: url(/background2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section3{
    height: 100vh;
    width: 100%;
    background-image: url(/background3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section1 h2,.section2 h2,.section3 h2{
    position: relative;
    left:575px;
    top:300px;
    height:30px;
    width: 300px;
    background-color: white;
    text-align:center;
    padding:25px;
}
@media only screen and (max-width:600px){
    .section1 h2,.section2 h2,.section3 h2{
        position: relative;
        left:50px;
        top:300px;
        height: 30px;
        width: 300px;
        background-color: white;
        text-align:center;
        padding:25px;
    }
    .paragraph{
        width: 100%;
        height: 300px;
        text-align: center;
        padding-top:50px;
    }
}

